@font-face {
    font-family: font2;
    src: url("../fonts/font2.ttf");
}

.navbard{
    background-color:#127694 ;
    text-align: center;
}

a{
    text-decoration-line: none;
    font-size: 25px;
    color:rgb(223, 207, 207);
}

.navbard ul{
    border-radius: 100%;
    font-family: font2;
    margin-top: 15px;
}


.navbard a:hover {
    color: aqua;
}

.navbard a.active {
    color: white;
    background-color:#116c88;
    padding: 15px;
    margin-top: -1%;
}

.navbard li{
    display: inline-block;
    padding: 15px 130px 15px;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}